In [13]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv('glassdoor_jobs_data.csv')

In [15]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,BHJOB15656_16794 - Data Scientist,$95K - $152K (Employer est.),The recruitment team here at Myticas is lookin...,3.7,Myticas Consulting\n3.7,Remote,1 to 50 Employees,NaN,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
1,1,Data Scientist,$95K - $152K (Employer est.),*will work ONSITE 2-3 days each week\nThe data...,NaN,Mint-Technologies,"Richmond, VA",1 to 50 Employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable
2,2,Data Scientist,$95K - $152K (Employer est.),"Qualifications:\n-10+ years experience with R,...",4.3,Infologitech\n4.3,Remote,1 to 50 Employees,NaN,Company - Private,Information Technology Support Services,Information Technology,$1 to $5 million (USD)
3,3,Data Scientist,$95K - $152K (Employer est.),Company Description\n\nWe’re a six-time “Best ...,3.8,Logic20/20 Inc.\n3.8,"Seattle, WA",201 to 500 Employees,2005.0,Company - Private,Business Consulting,Management & Consulting,$25 to $50 million (USD)
4,4,Junior Data Scientist,$95K - $152K (Employer est.),Responsibilities:\nWork with stakeholders to d...,NaN,Talentheed Inc,Remote,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [17]:
len(data)

1000